In [1]:
from client.client import Client

In [7]:
client = Client(url="http://127.0.0.1", user_name = 'Alice')

In [10]:
client.get_dummy_dataset(dataset_name= "IRIS", nb_rows = 6)

   petal_length  petal_width  sepal_length  sepal_width species
0      4.058131     0.337514      8.659541     3.159725       c
1      9.531786     4.337572      3.698713     2.456146       a
2      7.453942     3.025519      3.454600     4.059264       b
3      6.187256     3.554959      3.467236     1.697469       a
4      1.982177     0.151893      4.433938     2.460723       c
5      1.981948     4.851054      6.198051     2.831809       c

In [11]:
client.smartnoise_sql(dataset_name= "IRIS", query = "SELECT COUNT(*) AS NB_ROW FROM Schema.Table",  dummy = True, nb_rows = 6)

   NB_ROW
0     100